*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 40%;
  }
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: PapayaWhip;
  background-image: linear-gradient(LightGoldenrodYellow, LemonChiffon, LightGoldenrodYellow);
  overflow: hidden;
  min-height: 100svh;
}
